# Visual Studio privremeni fajlovi
.vs/
*.suo

# Fine code coverage privremeni fajlovi
fine-code-coverage/

# Ostali privremeni fajlovi
*.log
*.vsidx
*.testlog

# Ignoriši Debug i Release foldere
Debug/
Release/

# Ignoriši NuGet artefakte
*.nupkg
project.lock.json
